* {
    font-family: "Wendy One", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
11
header {
    margin: 44px 0 144px 76px;

}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #1e1e1e;
    cursor: pointer; /*maozinha*/
    margin-right: 23px;
}

.button-header {
    background: #237ec9;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none; /*sem borda*/
    font-size: 24px;
    line-height: 29px;
    color:#ffffff;
    cursor: pointer;
    }

.logo-image {
    height:400px;
    width: 468px;
    margin-left: 125px;
    display: inline-block;
}

section { 
    display: inline-block;
    margin-left: 86px;
}

h1 {
    font-weight: 900;
    font-size: 50px;
    line-height: 122px;
    color:#1e1e1e;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #1e1e1e;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}

.link-main {
    font-size:28px;
    font-weight: 600;
    line-height: 34px;
    cursor: pointer;
    color:#237ec9;
}